/* ============================================
   FOOTER
   ============================================ */

.footer {
    padding: 40px 0;

    border-top: 1px solid #25253a;

    background: #0b0b13;

    text-align: center;

    color: #77778c;
}

.footer p:first-child {
    color: #ddd;

    font-weight: 700;

    margin-bottom: 5px;
}

.footer small {
    display: block;

    margin-top: 10px;

    color: #555568;
}