/* ============================================
   SEÇÕES
   ============================================ */

.results-section,
.popular-section {
    padding: 70px 0;
}

.popular-section {
    background: #11111e;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;
}

.section-header h2 {
    font-size: 2rem;
}

/* ============================================
   MENSAGENS
   ============================================ */

.message {
    min-height: 250px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    text-align: center;

    color: #88889c;
}

.message span {
    font-size: 3rem;
    margin-bottom: 10px;
}

.message h3 {
    color: #ddd;
    margin-bottom: 5px;
}

.message p {
    color: #77778c;
}

.hidden {
    display: none !important;
}